.tile.new {
  animation-duration: 0.20s;
  animation-name: bubble;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  scale: 0;
}

.tile.merged {
  display: none !important;
}

.tile.merged.isMoving {
  display: flex !important;
}

@for $row from 0 through 7 {
  @for $column from 0 through 7 {
    .position-#{$row}-#{$column}:not(.isMoving) {
      top: #{96 * $row + 8 * $row}px;
      left: #{96 * $column + 8 * $column}px;
    }
  }
}

@for $fromRow from 0 through 7 {
  @for $toRow from 0 through 7 {
    $name: row-from-#{$fromRow}-to-#{$toRow};

    @if $fromRow == $toRow {
      .#{$name} {
        top: #{96 * $toRow + 8 * $toRow}px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.20s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          top: #{96 * $fromRow + 8 * $fromRow}px;
        }
        to {
          top: #{96 * $toRow + 8 * $toRow}px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 7 {
  @for $toColumn from 0 through 7 {
    $name: column-from-#{$fromColumn}-to-#{$toColumn};

    @if $fromColumn == $toColumn {
      .#{$name} {
        left: #{96 * $toColumn + 8 * $toColumn}px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.20s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          left: #{96 * $fromColumn + 8 * $fromColumn}px;
        }
        to {
          left: #{96 * $toColumn + 8 * $toColumn}px;
        }
      }
    }
  }
}

@keyframes bubble {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}